extends layout

block content
    h1 Profile

    if profile
        h2= profile.Display_name
        p Username: #{profile.Username}
        p Email: #{profile.Email}
        h3 Bio
        p #{profile.bio}
    else
        p #{message}
